<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr><th></th><th>Flight</th><th>Distance (miles)</th><th>Arrival Status</th></tr>
      <tr *ngFor="let flight of currentFlights">
        <td><i class="fa fa-plane" aria-hidden="true"></i></td>
        <td>{{flight.name | uppercase}}</td>
         <td>{{flight.distance}}</td>
        <td ng-class="">{{flight.arrivalTime | uppercase}}</td>       
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="add()">Add Random Flight</button>
  </div>
</div>
 
 
